doctype
html
head
  meta(charset="UTF-8")
  link(rel="stylesheet", href="/styles/styles.css")
  title To Do
body
  //- h1 To Do
  div.all
    section.form_container
      form(action ="/blog", method = "POST" )
        //- (action="/toDo", method="POST")
        fieldset
          div.title_container
            label.main To-Do: 
            input( type = "text", name = "title", placeholder = "New to-do", size='0')
            button.send +
          div.description_container
            //- label Notes:
            textarea( type = "text", name = "description", placeholder = "Notes" cols='20' rows='5')
            //- button.update(type="submit") Update
    section.toDoList_container
      ul
        each item in blogs
          li.item
            a(href='/blog/#{item._id}')
              //- (href="#")
            div.image
              button.next(type="submit") <
              button.prev(type="submit") >
            span.toDoItem!= item.title
            span :
            span &nbsp;
            span.notes!= item.description
          form(action="/blog/#{item._id}?_method=DELETE", method="post")
              button.delete(type="submit") X
                  section.form_container
            form.updating(action ="/blog/#{item._id}?_method=put", method = "POST" )
              fieldset
                div.update_hide
                  div.update_title_container
                    //- label Update: 
                    input( type = "text", name = "title", placeholder = "Update to-do", size='0')
                    button.update(type="submit") Update
                   div.update_author_container
                    //- label Update: 
                    input( type = "text", name = "title", placeholder = "Update to-do", size='0')       
                  div.update_description_container
                    textarea( type = "text", name = "description", placeholder = "Notes" cols='20' rows='5')
script(type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js")
script(src="/js/blog.js")